.header,
.headerError {
  font-size: 3rem;
  justify-self: center;
  padding: 2rem 0;
}

.section {
  display: grid;
}

.errorSection {
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .section {
    grid-template-columns: 1fr auto;
  }
}
