.header,
.headerError {
  font-size: 3rem;
  justify-self: center;
  padding: 2rem 0;
}

.section {
  display: grid;
  gap: 2rem;
}

.errorSection {
  font-size: 2rem;
}

/* @media (min-width: 1150px) {
  .section {
    grid-template-columns: 1fr auto;
    gap: 0;
  }
} */
